//fonts
$font-title: "Oswald", sans-serif;
$font-general: "Roboto", sans-serif;
$font-logo: "Dancing Script", cursive;

//colors

$color-primary: #393e41;
$color-secundary: #f6f7eb;
$color-secondary-light: #393e41;
$color-third: #44bba4;
$color-dark: #393e41;
$color-gray: rgba(179, 21, 21, 0.5);
$color-light: #f6f7eb;
