.main {
  &__section-primary {
    background-color: $color-secundary;
    color: $color-primary;
    @extend %section-master;
  }
  &__subtitle {
    padding-bottom: 20px;
  }
  &__section-secundary {
    @extend %section-master;
  }
  &__container {
    @include flex-jc(space-evenly);
    flex-wrap: wrap;
  }
  &__list {
    list-style-position: inside;
  }
}
